---
title: 密式圖集
meta_title: '密式圖集 - 密式旅行露營區環境與設施實景照片'
landing-title: '密式圖集'
nav-menu: true
description: 密式旅行，之於心中的記憶
meta_description: '探索密式旅行露營區的美麗風景：雲海繚繞的清晨、絢麗夕陽、舒適住宿空間、兒童遊樂設施、桌遊咖啡廳等。透過精選照片集，預覽您的美好假期，感受苗栗泰安的山林之美。'
keywords: '密式旅行照片,露營區實景,苗栗露營照片,泰安風景,雲海照片,夕陽美景,露營區設施,兒童遊戲室照片,桌遊咖啡廳,小木屋實景,套房照片,露營車位照片,山林美景'
image: assets/images/galleries.jpg
author: null
show_tile: true
order: 4
images: [
  "assets/images/galleries/gallery_1.jpg", "assets/images/galleries/gallery_2.jpg", "assets/images/galleries/gallery_3.jpg", "assets/images/galleries/gallery_4.jpg", "assets/images/galleries/gallery_5.jpg", "assets/images/galleries/gallery_6.jpg",
  "assets/images/galleries/gallery_7.jpg", "assets/images/galleries/gallery_8.jpg", "assets/images/galleries/gallery_9.jpg", "assets/images/galleries/gallery_10.jpg", "assets/images/galleries/gallery_11.jpg", "assets/images/galleries/gallery_12.jpg",
  "assets/images/galleries/gallery_13.jpg", "assets/images/galleries/gallery_14.jpg", "assets/images/galleries/gallery_15.jpg", "assets/images/galleries/gallery_16.jpg", "assets/images/galleries/gallery_17.jpg", "assets/images/galleries/gallery_18.jpg",
  "assets/images/galleries/gallery_19.jpg", "assets/images/galleries/gallery_20.jpg", "assets/images/galleries/gallery_21.jpg", "assets/images/galleries/gallery_22.jpg", "assets/images/galleries/gallery_23.jpg", "assets/images/galleries/gallery_24.jpg",
  "assets/images/galleries/gallery_25.jpg", "assets/images/galleries/gallery_26.jpg", "assets/images/galleries/gallery_27.jpg", "assets/images/galleries/gallery_28.jpg", "assets/images/galleries/gallery_29.jpg", "assets/images/galleries/gallery_30.jpg",
  "assets/images/galleries/gallery_31.jpg", "assets/images/galleries/gallery_32.jpg", "assets/images/galleries/gallery_33.jpg", "assets/images/galleries/gallery_34.jpg", "assets/images/galleries/gallery_35.jpg", "assets/images/galleries/gallery_36.jpg",
]
---

<!DOCTYPE html>
<!--
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
  {% include head.html %}
  <body>
    {% include header.html %} 
    <div class="container">
      <div id="main" class="alt">
        <section id="one">
          <div class="inner">
            <header class="major text-center">
              <h1>{{ page.title }}</h1>
            </header>
            <div class="lightbox-gallery">
              <div class="row photos">
                {% for image in page.images %}
                  <div class="col-6 col-md-4 col-lg-3 item">
                    <a href="{{ site.base_url }}/{{ image }}" data-lightbox="photos">
                      <img class="img-fluid" src="{{ site.base_url }}/{{ image }}" alt="密式旅行露營區實景 - {% if forloop.index <= 6 %}營區全景與雲海美景{% elsif forloop.index <= 12 %}露營區與住宿設施{% elsif forloop.index <= 18 %}兒童遊樂設施與休閒空間{% elsif forloop.index <= 24 %}套房與小木屋內部{% elsif forloop.index <= 30 %}戶外活動區域與景觀{% else %}夜景與特色設施{% endif %}">
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
    {% include footer.html %}
  </body>
</html>
