<!-- Footer -->
	<footer id="footer">
		<div class="inner">
			<ul class="icons align-center">
				{% for key_value in site.socials %}
					{% if key_value[1] %}
						<li>
							<a href="{{ key_value[1] }}" class="icon alt fa-{{ key_value[0] | downcase }}" target="_blank" rel="noopener noreferrer" aria-label="{{ key_value[0] }}">
								<span class="label">{{ key_value[0] }}</span>
							</a>
						</li>
					{% endif %}
				{% endfor %}
				<li>
					<a href="tel:{{ site.phone }}" class="icon alt fa-phone" aria-label="電話聯絡"></a>
				</li>
				<li>
					<a href="mailto:{{ site.email }}" class="icon alt fa-envelope" aria-label="Email 聯絡"></a>
				</li>
				<li>
					<a href="https://www.google.com.tw/maps/place/%E5%AF%86%E5%BC%8F%E6%97%85%E8%A1%8C/@24.418704,120.9115453,17z/data=!3m1!4b1!4m8!3m7!1s0x3468ffc8da78a9d1:0x86fdb6fa63426b73!5m2!4m1!1i2!8m2!3d24.418704!4d120.913734?hl=zh-TW" class="icon alt fa-home" target="_blank" rel="noopener noreferrer" aria-label="Google 地圖位置"></a>
				</li>
				<li>
					<strong>Line ID: misstravel0921</strong>
				</li>
				<li>
					<strong>&copy; {{ site.title }}</strong>
				</li>
			</ul>
		</div>
	</footer>

</div>

<!-- Scripts -->
	<script src="{{ "assets/js/jquery.min.js" | absolute_url }}" defer></script>
	<script src="{{ "assets/js/jquery.scrolly.min.js" | absolute_url }}" defer></script>
	<script src="{{ "assets/js/jquery.scrollex.min.js" | absolute_url }}" defer></script>
	<script src="{{ "assets/js/skel.min.js" | absolute_url }}" defer></script>
	<script src="{{ "assets/js/util.js" | absolute_url }}" defer></script>
	<!--[if lte IE 8]><script src="{{ "assets/js/ie/respond.min.js" | absolute_url }}"></script><![endif]-->
	<script src="{{ "assets/js/main.js" | absolute_url }}" defer></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous" defer></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js" defer></script>
