<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LodgingBusiness",
  "name": "密式旅行露營區",
  "alternateName": "Misstravel",
  "url": "https://misstravel.me",
  "logo": "https://misstravel.me/assets/images/logo.jpg",
  "image": "https://misstravel.me/assets/images/rooms.jpg",
  "description": "{{ site.description }}",
  "address": {
    "@type": "PostalAddress",
    "addressLocality": "泰安鄉",
    "addressRegion": "苗栗縣",
    "addressCountry": "TW"
  },
  "telephone": "+886905108958",
  "email": "misstravel0921@gmail.com",
  "priceRange": "NT$800-NT$3800",
  "amenityFeature": [
    {
      "@type": "LocationFeatureSpecification",
      "name": "桌遊咖啡廳",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification", 
      "name": "兒童遊戲室",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "兒童沙坑", 
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "停車場",
      "value": true
    }
  ],
  "sameAs": [
    "https://www.facebook.com/misstravel0921",
    "https://www.instagram.com/misstravel_miaoli"
  ],
  "hasMap": "https://misstravel.me/infos/2022-10-06-map.html",
  "checkinTime": "15:00",
  "checkoutTime": "11:00",
  "availableLanguage": {
    "@type": "Language",
    "name": "Chinese",
    "alternateName": "中文"
  }
}
</script>