<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "LodgingBusiness",
  "name": "密式旅行露營區",
  "alternateName": "Misstravel",
  "url": "https://misstravel.me",
  "logo": "https://misstravel.me/assets/images/logo.jpg",
  "image": "https://misstravel.me/assets/images/rooms.jpg",
  "description": "{{ site.description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "苗62鄉道",
    "addressLocality": "泰安鄉",
    "addressRegion": "苗栗縣",
    "postalCode": "365",
    "addressCountry": "TW"
  },
  "geo": {
    "@type": "GeoCoordinates",
    "latitude": 24.418704,
    "longitude": 120.913734
  },
  "telephone": "+886905108958",
  "email": "misstravel0921@gmail.com",
  "priceRange": "NT$800-NT$3800",
  "amenityFeature": [
    {
      "@type": "LocationFeatureSpecification",
      "name": "桌遊咖啡廳",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification", 
      "name": "兒童遊戲室",
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "兒童沙坑", 
      "value": true
    },
    {
      "@type": "LocationFeatureSpecification",
      "name": "停車場",
      "value": true
    }
  ],
  "sameAs": [
    "https://www.facebook.com/misstravel0921",
    "https://www.instagram.com/misstravel_miaoli"
  ],
  "hasMap": "https://misstravel.me/infos/2022-10-06-map.html",
  "checkinTime": "15:00",
  "checkoutTime": "11:00",
  "availableLanguage": {
    "@type": "Language",
    "name": "Chinese",
    "alternateName": "中文"
  },
  "openingHoursSpecification": [
    {
      "@type": "OpeningHoursSpecification",
      "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
      ],
      "opens": "00:00",
      "closes": "24:00"
    }
  ],
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "+886905108958",
    "contactType": "reservations",
    "areaServed": "TW",
    "availableLanguage": ["zh-TW"]
  },
  "paymentAccepted": "Cash, Credit Card, Bank Transfer",
  "currenciesAccepted": "TWD",
  "numberOfRooms": 10,
  "aggregateRating": {
    "@type": "AggregateRating",
    "ratingValue": "4.8",
    "reviewCount": "156",
    "bestRating": "5",
    "worstRating": "1"
  }
}
</script>