{% assign tiles = site.html_pages | where_exp: "item", "item.show_tile != false" %}

<section id="one" class="tiles">
  {% for tile in tiles limit:site.tiles-count %}
    <article>
      <span class="image">
        <img src="{{ tile.image }}" alt="{{ tile.title }}" />
      </span>
      <header class="major">
        <h3 style="font-size: 40px;"><a href="{{ tile.url  | relative_url }}" class="link">{{ tile.title }}</a></h3>
        <p style="font-size: 24px;">{{ tile.description }}</p>
      </header>
    </article>
  {% endfor %}
</section>
